#home {
  background-color: $heart-red;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: $lighter-gray;
    font-weight: bold;
    font-size: 16px;
  }
}

.cards-wrapper{
  padding: 80px 0;
}

body {
  background-color: white;
}
